body{
    background-color:grey;
    
}
img.mochilero{
width: 100%;
height: 500px;
}

.content{
display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
width: 100%;
margin:auto;
height: 100%;
}




div.titulo{
margin-top: -10px;
background-color: black;
color:white;
font-size: 100px;
text-align: center;
font-family:rolling bold;

}
.nav{
margin-top: 100px;  
text-align: center;
font-size: 40px;
word-spacing: 150px;
border-top:1px solid black;
border-bottom:1px solid black;
}

a{
color:white;
text-decoration: none;
letter-spacing: 20px;
}
a:hover{
     
        padding: 30px; 
        color:orange; 
    
}


a:active{
        padding: 30px; 
        background: gray; 
        color: white; 
      
}



.articulo{
    display: flex;
    flex-direction: column;
    
margin-top:50px ;
}




.experiencia{
text-align: center;
padding: 30px;
color:beige;
font-size: 20px;
margin-top: 30px;
margin-bottom: 50px;
}

.mapa{
    justify-content: center;


}
img.mapa{
    

height: 800px;
width: 900px;

}

.titulo_china{

    text-align: center;
    font-size: 40px;
    word-spacing: 50px;
    margin-top: 50px;
    
    }
    .china.japon,h3{
        color: grey;
        text-align: center;

    }
    
    .japon{
        margin-top: 100px;
        border-top:1px solid grey;
    }
    .video{margin-top: 30px;
    margin-left: 10px;
    
    }
    
  
    }

.vacunas{

height: 500px;
width: 1000px;
color: beige;

}
.vacunas,p{
    color: beige;
}
h1.tiltulo{
    text-align: center;
    
}

img.vacunas{
height: 350px;
width: 700px;



}

.japon_opinion{
color: beige;
text-align: center;
padding: 0 100px 0 100px ;
}
.japon_opinion,h1{
    font-size: 100px;
}
.japon_opinion,p{
    font-size: 20px;
}

  footer{
      
        background-color:black;
        
        width: 100%;
        padding-top: 50px; 
        text-align: center;
        font-size: 40px;
        word-spacing: 150px;}

        footer.viajes{
           
            border-top:1px solid beige;
            border-bottom:1px solid beige;
            background-color:grey;
            height: 100px;
            width: 100%;
            font-size: 30px;
            word-spacing: 50px;
        padding-top: 50px;}


.dia{
text-align: center;
color: white;
}
.dia,p{
    color: white;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.konamura{
  font-size: 5px;  

margin-bottom: 20px;   

height: 400px;
width: 200px;

}
.konamura,h1{
font-size: 60px;

         }

        
img.japon{
    margin-top: -180px;
    width: 100%;
    height: 400px;
}
img.ciudades{
    height: 350px;
    width: 300px;
    margin: 20px;
    border-radius: 20px;
}

.japon_ciudades{
display: flex;
flex-wrap: wrap;
text-align: center;
justify-content: center;
}
.contacto_texto{
    text-align: center;
}

.contacto{
    font-size: 20px;
    color: beige;
}

#redessociales {
    width: 64px;
    height: 64px;
    border-radius: 75px;
    border: 5px solid #fff;
    background: url(https://4.bp.blogspot.com/-gKMIOgeaEBY/UWHsOA382oI/AAAAAAAABpI/5GdyRTAeKII/s1600/share_core_square.jpg)
  }
  
  .smedia {
    position: absolute;
  -webkit-transition: left 0.5s cubic-bezier(0.1,0.8,0.9,1), opacity 1s linear;
  -moz-transition: left 0.5s cubic-bezier(0.1,0.8,0.9,1),opacity 1s linear;
  -o-transition: left 0.5s cubic-bezier(0.1,0.8,0.9,1), opacity 1s linear;
    display: inline;
    opacity: 0;
    width: 46px;
    height: 46px;
    z-index: 100;
    margin:10px 0px 0px 20px;
    text-indent: -9999px;
    background: no-repeat;
    left:3px;
  }
  
  #redessociales:hover .smedia {
    opacity: 1;
    transform: translate(0px,0);
    -webkit-transform: translate(0px,0);
    -o-transform: translate(0px,0); 
    -moz-transform: translate(0px,0);
    margin:10px 0px 0px 20px;
    position: absolute;
    
  }
  #redessociales:hover .smedia:nth-child(1) {
    position: absolute;
    left:65px;
  }
  
  #redessociales:hover .smedia:nth-child(2) {
    position: absolute;
    left:110px;
  }
  #redessociales:hover .smedia:nth-child(3) {
    position: absolute;
    left:155px;
  }
  #redessociales:hover .smedia:nth-child(4) {
    position: absolute;
    left:200px;
  }
  #redessociales:hover .smedia:nth-child(5) {
    position: absolute;
    left:245px;
  }
  
  #redessociales:hover .smedia:nth-child(6) {
    position: absolute;
    left:290px;
  }
  
  .smedia.facebook {
      background: url(https://4.bp.blogspot.com/-49s_0_9mdVo/UWHsMIvJBNI/AAAAAAAABn8/6bVMlN4Qz7Y/s1600/bubble_facebook_share_button.png);
  }
  .smedia.twitter {
      background: url(https://2.bp.blogspot.com/-3r8sHe1Qy5M/UWHsNMDDzHI/AAAAAAAABog/q3V7mYirmOY/s1600/bubble_twitter_share_button.png);
  }
  .smedia.email {
      background: url(https://3.bp.blogspot.com/-ZhFqBhp79cA/UWHsMBmPxsI/AAAAAAAABn4/O8k_pGf1oCU/s1600/bubble_email_share_button.png);
  }
  .smedia.instagram {
      background: url(https://1.bp.blogspot.com/-FSkby0cXU_8/UWHsMis8c2I/AAAAAAAABoQ/y8coyc5ystc/s1600/bubble_instagram_share_button.png);
  }
  .smedia.youtube {
      background: url(https://4.bp.blogspot.com/-x2oyT1dBzwA/UWHsNtcWXVI/AAAAAAAABo8/8kCXTVMbM6Y/s1600/bubble_youtube_share_button.png);
  }
  .smedia.vimeo {
      background: url(https://2.bp.blogspot.com/-01SWPeX-584/UWHsNim9CAI/AAAAAAAABo4/Z9jMox_9UrE/s1600/bubble_vimeo_share_button.png);
  }
  .smedia:hover {
      background-position: 0 -46px;
  }


@media(max-width:768px){
.body{

display: flex;
flex-wrap: wrap;
margin: auto;

}
.iframe{
    height: 300px;
    width: 100%;
}
img.mapa{
    

    height: 400px;
    width: 400px;
    
    }
    img.vacunas{
        height: 400px;
        width: 400px;}

        img.mochilero{
            width: 100%;
            height: 300px;
            }


}

